{% load static %}
<!doctype html>
<head>
  <title>Mannai Co.</title>
  <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
</head>

<body>
  <div class="wrapper fadeInDown">
   
    <div id="formContent">

      <div class="fadeIn first">
        <br>
        <img src="{% static 'assets/img/manni-png.png' %}" id="icon" alt="User Icon">
      </div>
      <h3 class="fadeIn second">Login</h3>

      <form  method="POST">
        {% csrf_token %}
        {{form}}
        <br>
        <br>
        <input name="Login" type="submit"  class="fadeIn fourth"/>
    </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <p style="color:#c2c1c1;">Not a member? <a class="underlineHover" href="/register/">Sign up here&raquo;</a></p>
      </div>

    </div>
  </div>
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.min.js' %}"></script>

</body>

</html>